{{ev-title title='length'}}

{{ev-rules validator=model.validator}}

<h2>How to use?</h2>
<pre><code>
  length: {
    minimum: 4,
    maximum: 20,
    messages: {
      minimum: 'Must be more than 4 characters',
      maximum: 'Must be less than 20 characters'
    }
  }

  length: {
    is: 4,
    messages: {
      is: 'Must be contains 4 characters'
    }
  }

  length: {
    is: 4,
    message: 'Must be contains 4 characters'
  }

  length: {
    is: 4,
    message: 'Must be contains 4 characters'
    tokenizer: function(value) {
      return value.split(' ');
    }
  }

</code></pre>

<h2>Example</h2>
<form {{action 'submit' on='submit'}} class='example' autocomplete="off">
  <ul>
    <li>Field (must have minimum of 4 and maximum of 10 characters length):</li>
    <li class='{{unless model.validationResult.field1.hasError 'hide'}} error-msg'>{{model.validationResult.field1.error}}</li>
    <li>{{input type='text' classNameBindings='model.validationResult.field1.hasError:error-field' value=model.field1}}</li>

    <li><button type='submit'>Submit</button></li>
  </ul>
</form>
